<template>
    <footer>Terms & Condition | Privacy Policy</footer>
</template>

<style scoped>
footer {
    background-color: black;
    color: #fff;
    font-weight: 700;
    text-align: center;
    padding-top:60px;
    padding-bottom:60px;
}
</style>