<template>
    <div>
        <b-navbar toggleable="lg">
            <b-navbar-brand href="/">
                <img src="../assets/logo.jpg" width="80px" />
                Logo
            </b-navbar-brand>
            <div class="ml-auto">
                <b-avatar></b-avatar> John Smith
            </div>
        </b-navbar>
    </div>
</template>