<template>
    <div>
        <b-overlay :show="isLoading" rounded="lg">
            <div class="prizes">
                <h4>Here is the full list of prizes that you can win    </h4>
                <div class="prizes-container">
                    <b-row>
                        <b-col sm="6" md="4" lg="4" v-for="(item, index) in prizeList" v-bind:key="index">
                            <div class="box-container">
                                <img :src="item.imageUrl" class="product-item-img" />
                                <h3 class="product-title">{{item.name}}</h3>
                                <b-button pill variant="warning" @click="viewDetail(item._id)" >Redeem ></b-button>
                            </div>
                        </b-col>
                    </b-row>
                </div>
            </div>
        </b-overlay>
    </div>
</template>

<script>
import axios from 'axios'

export default {
    name: 'Home',
    data() {
        return {
            isLoading: false,
            prizeList: []
        }
    },
    created() {
        this.getPrizeList()
    },
    methods: {
        async getPrizeList() {
            this.isLoading = true
            const apiUrl = process.env.VUE_APP_REWARDS_API_URL
            await axios.get(apiUrl + '/products')
            .then(response => {
                this.isLoading = false
                this.prizeList = response.data
            })
            .catch(error => {
                this.isLoading = false
                console.log(error)
            })
        },
        viewDetail(id) {
            this.$router.push({name: 'PrizeInfo', params: {id: id}})
        }
    }
}

</script>

<style scoped>

ul {
    display: flex;
}

li {
    list-style-type: none;
    display: flexbox;
    width: 33%;
    text-align: center;
    padding: 10px;
    
}

.prizes-container {
    padding-left: 30px;
    padding-right: 30px; 
}

.box-container {
    border-radius: 5px;
    box-shadow: #80808082 2px 2px 5px;
    padding-bottom: 20px;
    background-color: #fff;
    margin-top: 30px;
}

button {
    font-size: 0.8rem;
    font-weight: 700;
}

.product-item-img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.product-title {
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 20px;
}

.prizes {
    min-height: 300px;
    background-color: rgb(233, 233, 233);
    padding-top: 20px;
    padding-bottom: 30px;
}

</style>
