<template>
    <div id="prize-info">
        <b-overlay :show="isLoading" rounded="lg">
            <b-row>
                <b-col></b-col>
                <b-col cols="10">
                    <b-row>
                        <b-col>
                            <img :src="prize.imageUrl" class="product-item-img" />
                        </b-col>
                        <b-col class="info">
                            <h3 class="product-title">{{prize.name}}</h3>
                            <div>Quantity: {{prize.quantity}}</div>
                            <b-button pill variant="warning" @click="showModal()" :disabled="prize.quantity < 1">Redeem ></b-button>
                        </b-col>
                    </b-row>
                    <hr>
                    <p>{{prize.description}}</p>
                </b-col>
                <b-col></b-col>
            </b-row>

            <b-modal ref="my-modal" hide-footer>
                <div v-show="!isSucceed">
                    <div class="text-center">
                        <h3>Are you sure?</h3>
                        <img :src="prize.imageUrl" class="product-item-img-modal" />
                        <h3>Redeem {{prize.name}}?</h3>
                    </div>
                    <div class="text-center">
                        <b-button pill variant="warning" @click="showSuccess">Yes</b-button>
                        <b-button pill class="ml-5" variant="secondary"  @click="toggleModal">Cancel</b-button>
                    </div>
                </div>
                <div v-show="isSucceed" class="text-center">
                    <h3> Congratulations!</h3>
                    <div class="success-message">
                        You redeemed.
                        <br>
                        {{prize.name}}
                    </div>
                    <b-button pill variant="warning" @click="goToHome">More Prizes</b-button>
                </div>
            </b-modal>
        </b-overlay>
    </div>
</template>

<script>
import axios from 'axios'

const apiUrl = process.env.VUE_APP_REWARDS_API_URL
export default {
    name: 'Prize',
    data() {
        return {
            isLoading: false,
            prize: {},
            isSucceed: false,
        }
    },
    created() {
        this.isLoading = true
        this.getPrize(this.$route.params.id).then((result) => {
            this.isLoading = false
            this.prize = result
        })
    },
    methods: {
        async getPrize(id) {
            return await axios.get(apiUrl + '/product/' + id)
            .then(response => {
                return response.data
            })
            .catch(error => {
                console.log(error)
                return {}
            })
        },
        async goToHome() {
            this.$router.push({name: 'Home'})
        },
        showSuccess() {
            const productId = this.$route.params.id
            this.isLoading = true
            this.getPrize(productId).then((result) => {
                if (result.quantity > 0) {
                    const quantityCount = result.quantity - 1
                    axios.patch(apiUrl + '/product/' + productId,
                    {quantity: quantityCount})
                    .then(() => {
                        this.prize.quantity = quantityCount
                        this.isSucceed = true
                        this.isLoading = false
                    })
                    .catch(error => {
                        this.isLoading = false
                        console.log(error)
                    })
                } else {
                    this.isLoading = false
                    console.log('Quantity less than 0')
                }
            });
        },
        showModal() {
            this.isSucceed = false
            this.$refs['my-modal'].show()
        },
        hideModal() {
            this.$refs['my-modal'].hide()
        },
        toggleModal() {
            this.$refs['my-modal'].toggle('#toggle-btn')
        }
    }
}
</script>

<style scoped>
.disabled {
    background-color: grey !important;
    color: #fff !important;
    border-color: grey !important;
}

.info {
    text-align: left;
}

#prize-info {
    min-height: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(233, 233, 233);
}

button {
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 700;
    min-width: 150px;
}

.product-item-img {
    width: 100%;
}

.product-item-img-modal {
    width: 60%;
    border-radius: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-title {
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 20px;
}



</style>