<template>
  <b-container id="app">
    <!-- <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div> -->
    <Header />
    <div id="banner" href="/">
        <router-link to="/">Rewards</router-link>
    </div>
    <router-view/>
    <Footer />
  </b-container>
</template>

<script>
import Header from './views/Header'
import Footer from './views/Footer'

export default ({
  name: 'App',
  components: {
    Header,
    Footer
  }

})
</script>


<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#banner {
    background-color: #1672c2;
    color: white;
    text-align: center;
    font-weight: 800;
    font-size: 2em;
    padding-top: 60px;
    padding-bottom: 60px;
}

#banner > a {
    color: #fff;
}

#banner > a:hover {
    text-decoration: none;
    color: #fff;
}

.spinner-border {
    width: 8rem !important;
    height: 8rem !important;
    border-width: .5em !important;
}

.modal-header {
    border-bottom: 0px;
    padding-bottom: 0px;
}


/* #nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
} */
</style>
